<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Markers and Route</title>
    <link rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps.css" type="text/css">
    <script type="text/javascript" src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.1/maps/maps-web.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@turf/turf@7.0.15/turf.min.js"></script>
</head>

<body>
    <div id="map" style="width: 100%; height: 100vh;"></div>

    <script type="text/javascript">
        const apiKey = "qN86js1EGFaSWvQ28TASgkUuphaxAnbF";

        const map = tt.map({
            key: apiKey,
            container: "map",
            center: [80.254, 12.99514], // Use the first coordinate as the center
            zoom: 10
        });

        const coordinates = [
            // Convert the coordinates from server to the format expected by TomTom API
            <% coord.forEach(function(coord) { %>
                [<%- coord[0] %>, <%- coord[1] %>],
            <% }); %>
        ];

        coordinates.forEach(coord => {
            new tt.Marker().setLngLat(coord).addTo(map);
        });

        const line = turf.lineString(coordinates.map(coord => [coord[1], coord[0]]));

        map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': line
                }
            },
            'paint': {
                'line-color': 'blue',
                'line-width': 3
            }
        });
    </script>
</body>

</html>
